### Coleta dos dados
*  compras.xls
*  clientes.json 
*  estados.txt

In [ ]:
!wget https://raw.githubusercontent.com/ProfLeandroLessa/desafio-final-ABD/master/datasets/compras.xls
!wget https://raw.githubusercontent.com/ProfLeandroLessa/desafio-final-ABD/master/datasets/clientes.json
!wget https://raw.githubusercontent.com/ProfLeandroLessa/desafio-final-ABD/master/datasets/estados.txt

### Coleta de dados da tabela produtos atraves de mineração do beatifulsoap

In [4]:
import requests
from bs4 import BeautifulSoup

In [28]:
dados = list()
r = requests.get('https://profleandrolessa.wordpress.com/exercicio-de-coleta-de-dados/')
soup = BeautifulSoup(r.text,'html.parser')
cat = soup.find_all("tr")
for linha in cat:
  soup_ = BeautifulSoup(str(linha),'html.parser')
  dat = soup_.find_all("td")
  dados.append([dat[0].text,dat[1].text,dat[2].text,dat[3].text,dat[4].text])
dados = dados[1:]

In [42]:
import pandas as pd

df = pd.DataFrame(dados,columns=['cod_produto','nome_produto','cod_classe_produto','classe_produto','valor'])
df = df.set_index('cod_produto')              
df.head(3)

            nome_produto cod_classe_produto       classe_produto valor
cod_produto
1000         Sabão em pó                  1  Produtos de Limpeza   9,9
1001           Amaciante                  1  Produtos de Limpeza    22
1002          Detergente                  1  Produtos de Limpeza  1,99

In [43]:
df.to_csv("produtos.csv")