In [5]:
import pandas as pd
import json

In [77]:
with open("/content/clientes.json", encoding='utf-8') as meu_json:
    dados = json.load(meu_json)
dados = dados['cliente']
df_cliente = pd.DataFrame(dados)
df_estados = pd.read_csv("/content/estados.csv",encoding="latin-1")
df_produtos = pd.read_csv("/content/produtos.csv")
df_compras = pd.read_csv("/content/compras.csv")

In [78]:
print(len(df_compras))
df_compras.isna().sum()

3000

cod_cliente            0
cod_produto           10
qtd_produto            0
valor_unitario         5
valor_total_compra    21
dtype: int64

In [ ]:
tipos = {'valor_unitario':'float64','valor_total_compra':'float64'}
df_compras['valor_unitario'] = df_compras['valor_unitario'].str.replace(',', '.')
df_compras['valor_total_compra'] = df_compras['valor_total_compra'].str.replace(',', '.')
df_compras = df_compras.astype(tipos)
df_compras.loc[df_compras.valor_unitario.isna(),'valor_unitario'] = df_compras.valor_total_compra/df_compras.qtd_produto
df_compras.loc[df_compras.valor_total_compra.isna(),'valor_total_compra'] = df_compras.qtd_produto*df_compras.valor_unitario
df_compras.dropna(inplace=True)
df_compras = df_compras.astype({'cod_produto':'int64'})
print(len(df_compras))
print(df_compras.isna().sum())

In [95]:
df_geral = df_compras.merge(df_produtos,on='cod_produto')
df_geral = df_geral.merge(df_cliente, on='cod_cliente')
df_estados.rename(columns={'codigo_estado': 'cod_estado'}, inplace = True)
df_geral = df_geral.merge(df_estados, on='cod_estado')

In [96]:
df_geral.head(2)

,cod_cliente,cod_produto,qtd_produto,valor_unitario,valor_total_compra,nome_produto,cod_classe_produto,classe_produto,valor,sexo,idade,qtd_filhos,estado_civil,cod_estado,hipertenso,diabetes,nome_estado,sgl_estado
0,1,1011,3,5.99,17.97,Lustra móveis,1,Produtos de Limpeza,"5,99",1,26,2,3,13,0,1,Minas Gerais,MG
1,1973,1049,3,5.99,17.97,Leite em pó,3,Alimentação,"5,99",1,36,1,1,13,0,1,Minas Gerais,MG

In [100]:
df_geral.drop_duplicates(inplace=True)
df_geral.drop(columns='valor',inplace=True)

In [102]:
tipos = {"cod_cliente":'codigo_cliente',
         "cod_produto":'codigo_produto',
         "qtd_produto":'qtd_produto_compra',
         "valor_unitario":'valor_produto',
         "valor_total_compra":'valor_total_compra',
         "nome_produto":'nome_produto',
         "cod_classe_produto":'cod_class_produt',
         "classe_produto":'nome_class_produt',
         "sexo":'cliente_genero',
         "idade":'cliente_idade',
         "qtd_filhos":'cliente_qtd_filhos',
         "estado_civil":'cliente_estado_civil',
         "cod_estado":'codigo_estado_cliente',
         "hipertenso":'cliente_hipertenso',
         "diabetes":'cliente_diabetes',
         "nome_estado":'nome_estado_cliente',
         "sgl_estado":'sigla_estado_cliente',}
df_geral.rename(columns=tipos, inplace = True)

In [103]:
df_geral.to_csv("inform_unidas.csv")
df_cliente.to_csv("clientes_transform.csv")
df_compras.to_csv("compras_transform.csv")
df_estados.to_csv("estados_transform.csv")
df_produtos.to_csv("produtos_transform.csv")